
html{

	height:100%;
	width:100%;
	margin: 0;
	padding: 0;
}

body{

	height: 100%;
	width:100%;
	margin:0;
	padding: 0;
}

div[ui-view=""]{

	height:100%;


}
@import '../app/anon/login';
@import '../app/dashboard/dashboard';
@import '../app/dashboard/userStockList';
@import '../app/dashboard/symbol';