ul
{
    list-style-type: none;
}

#logInBackground {
	width: 100%;
	height: 100vh;
	background-color: rgba(0,121,165,1);
}

#logInTile {
  background-color: rgba(164,164,164,.9);
  border-radius: 3%;
  text-align: center;
  text-decoration: none;
  position:relative;
  display: inline-block;
  width: 35%;
  height: 35%;
  margin-left: 30%;
  margin-top: 15%;
 }

#logInTile input { 
  
    width: 75%;
    height: 100%;
    margin: 3% 1% 1% 0;
    font-size: 15px;

  
}

#logInTile input[type="submit"]{
  width:35%;
  font-size: 15px;
  text-align: center;
}


p {

    font-size: 30px;
    margin-top: 10%;

 }
