<div class="background">
	<div class="logInTile">
		<p>Welcome! Please Log In!</p>
		<ul>
			<form name="login.form" ng-submit="login.login()" novalidate>
				<li>
					<input id="loginEmail" type="email" name="email" ng-model="login.user.email" placeholder="Email Address" required />
				</li>
				<li>
					<input id="loginPassword" type="password" name="password" ng-model="login.user.password" placeholder="Password" required />
				</li>
			
				<li>
					<input id="loginSubmit" type="submit" value="Log In" />
				</li>
			</form>
		</ul>

	</div>
</div>