$dashboardContainerBackgroundColor: #FAFAFA !default;
$userbarBackgroundColor: #2962FF !default;
$userbarTextColor: #FAFAFA !default;
$paperCardBackgroundColor: #212121 !default;
$mainFont: Roboto Sans, sans-serif !default;




#dashboardContainer {
	background-color: $dashboardContainerBackgroundColor;
	height: 100%;

	// typographic defaults
	font-family: $mainFont;
	font-style: normal;
	font-size: 1rem;
	line-height: 1.2rem;

	#dashboardHeader {
		position: fixed;
		top: 0;
		display: block;
		width: 100%;
		background-color: $userbarBackgroundColor;
		text-color: $userbarTextColor;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px 0px;
		margin: 0;

		a {
			display: inline-block;
			font-size: 1rem;
			line-height: 1.2rem;
			margin: 0.25rem;
			padding: 0.65rem 1.25rem;
			color: $userbarTextColor;
			text-decoration: none;

			&:link, &:visited {
				color: $userbarTextColor;
			}
			&:hover {
				background-color: rgba(255,255,255,0.2);
			}
		}

		#options{
			display: inline-block;
		}

		input {
			display: inline-block;
			position: relative;
			left: 50%;
			padding: 0.35rem;
			margin-left: -24rem;
			width: 24rem;
			border: 0px;
			border-radius: 2px;
		}
		
		#user-functions {
			list-style-type: none;
			display: block;
			float: right;
			margin: 0;
			padding: 0;

			li { display: inline-block; }
		}
	}
}

#tray {
	display: block;
	padding-top: 4rem;
}
