$mainFont: Roboto Sans, sans-serif !default;

.paperCard {
	display: inline-block;
	width: 16rem;
	margin: 0.5rem;
	padding: 0;
	color: $paperCardBackgroundColor;
	font-family: $mainFont;
	border-radius: 0.1rem;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);

	h1 {
		font-size: 2rem;
		font-weight: bold;
		padding: 0.25rem;
		margin: 0.125rem;
		text-align: left;
		background-color: rgba(0, 0, 0, 0);
		border-bottom-color: rgba(0, 0, 0, 0.1);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		box-sizing: border-box;
	}
	p {
		padding: 0.25rem;
		margin: 0.25rem;
		line-height: 1rem;
	}
	.value, .change {
		text-align: right;
	}
	.value {
		font-size: 1.75rem;
		font-weight: bold;
	}

	a {
		display: inline-block;
		padding: 0.25rem;
		margin: 0.25rem;
		border-radius: 0.1rem;

		&:hover{ background-color: rgba(0,0,0,0.1)}
	}

	.paperCardFooter {
		background-color: rgba(0, 0, 0, 0);
		border-top-color: rgba(0, 0, 0, 0.0980392);
		border-top-style: solid;
		border-top-width: 1px;
		box-sizing: border-box;
	}
}