.userbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 46px;
	background-color: #7d8fb3;
	padding: 5px;
	margin-bottom: 10px;
}

.paperCard {
	display: block;
	width: 240px;
	height: 112px;
	margin : 24px ;
	color: #212121;
	font-family: Roboto sans, sans-serif ;
	margin:10px ;
	border-radius:2px;
}

.paperCard h1 {
	font-weight : bold ;
	padding : 8px ;
	text-align: left ;
}

.paperCard p {
	padding : 8px ;
}

body {
	background-color : #FAFAFA ;
}